//color scheme
// 
// First Color Scheme
$white: #fff;
$platinum: #E8E8E8;
$gray: #BABABA;
// Second Color Scheme
$carmine-pink: #e94f37;
$salmon: #EF7F6D;
$spanish-pink: #F7BFB6;
// third color scheme
$black-olive: #393E41;
$granite-gray: #5D6163;
$old-silver: #818486;
//fourth scheme
$verdigris: #44bba4;
$medium-aquamarine: #66c7b4;
$perl-aqua: #88D3C5;